---
import type { SiteSettings } from '../lib/types';

interface Props {
  settings: SiteSettings;
}

const { settings } = Astro.props;
---

<div class="address-bar">
  <address>{settings.address}</address>
  {settings.diocesanLink && (
    <a href={settings.diocesanLink}>Anglican Diocese of Toronto</a>
  )}
</div>
